* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    color: #ededed;
    background: #010101;
    overflow-x: hidden;
   
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vmax;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
}
.headings-size{
    font-size: 5vmax;
    width:80vmax;

}
.about-txt{
    font-size: 5vmax; 
}


.logo {
    position: relative;
    font-size: 2.6vmax;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
   
}
.navbar{
display:flex;
gap:1vw;

}

.navbar a {
    
    font-size: 2vmax;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: -3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(2s*var(--i));
   
}

.navbar a:hover {
    color: #0ef
}

.home {
    position: relative;
    width: 100vmax;
    justify-content: space-between;
    height: 100vmin;
    background: url(./images/bc.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 7vmin 10vmax;
    text-align: justify;
 

   
}
.home-content{
   
    width:20
}

.home-content {
    max-width: 50vmax;
 
  
}


.home-content h3 {
    font-size: 2.5vw;
    font-weight: 700;
    margin-top: 5vmin;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;}


.home-content h3 span {
    color: #0ef;
    
}


.home-content h3:nth-of-type(2) {
    margin-bottom: 3vh;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
   
}

.home-content h1 {
    font-size:3.5vmax;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
    
}

.home-content p {
    font-size: 1.4vmax;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  
}

.my-img {
    border-radius: 50%;
   

}

.myimg {
    border-radius: 50%;
    height: 150%;
    width: 150%;
    box-shadow: 0px 0px 50px blueviolet;
    transition: 2s;
}

.myimg:hover {
    height: 200%;
    width:200%;
    box-shadow: 0 0 5px cyan,
        0 0 25px orange, 0 0 60px yellow,
        0 0 140px red, 0 0 200px blue
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    
}

.home-sci a:hover,
.svg-box:hover {
    background: #0ef;
    fill: #081b29;
    box-shadow: 0 0 20px #0ef;
    
}

.svg-box {
    fill: #0ef;
  
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 10px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}


/*About Me Section*/
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:0.1rem;
    margin-bottom: 2vmin;
   
 
}

.about-img img{
   height:auto;
max-width: 330px;
width:100%;
border-radius: 50%;
box-shadow: 0 0 5px cyan, 0 0 10px green,
0 0 25px orange, 0 0 60px yellow,
0 0 140px red, 0 0 200px blue ;
}
.about-img{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background:5px solid red;
}
.about-text{
    width:90%;
    text-align: justify;
}
.about-text h2{
    font-size: 60px;
    margin-top: 90px;
}

.about-text h2 span{
    color:#0ef;

}
.about-text h4{
    font-size:30px;
    font-weight: 600px;
    color:#fff;
    line-height: 1.4;
    margin:15px 0 30px;
}
.about-text p{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}
/*Services Section*/

.container{
   padding:90px;

}
.sub-title{
text-align: center;
font-size: 60px;
padding-bottom: 70px;

}
.sub-title span{
    color:#0ef; 
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
    grid-gap:40px;
    margin:50px;
   text-align:justify;
}

.services-list div{
    background: transparent;
    padding:40px;
    font-size:13px;
    font-weight: 13px;
    border-right:10px;
    border-radius: 20px;
    box-shadow:1px 1px 20px #012290f7,
    1px 1px 40px #0053b8;
    transition : background 0.5s, transform 0.5s;
    cursor:pointer;
}
.services-list div:hover{
transform: translateY(-10px); 

}
.services-list p{
    margin-bottom: 10%;
}
.services-list div i{
    font-size: 50px;
    margin-bottom:30px;

}
#services{
    color:aliceblue;
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 4rem;
    
    }
.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin:15px;

}
.services-list div a{
    text-decoration:none;
    color:#000000;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.read{
    display:inline-block;
    padding : 12px 28px;
    background:cyan;
    border-radius: 40px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity:0;
    animation: slideTop .6s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan;
    }
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.ser-btn{
    display:inline-block;
    padding : 12px 28px;
    background:cyan;
    border-radius: 40px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity:0;
    animation: slideTop .6s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan;
}
.ser-btnactive{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
/*Skills*/
.sub-title{
    margin-bottom: -40px;
}
.skills-sec{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    
}
section{
    display:flex;
    flex-wrap:wrap;
}
.container1{
    width:600px;
    height:500px;
    padding:75px 90px;
    margin-left: 120px;
    width:100%;
}
.heading1{
    text-align:center;
    text-decoration:underline;

    text-underline-offset:10px;
    text-decoration-thickness: 5px;
    margin-bottom: 4vmin;
    font-size:3vmax;
    
}
.Technical-bars .bar{
margin-top: 40px 0;

}
.Technical-bars .bar:first-child{
    margin-top: 0;

}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation:showText 0.5s 1s linear forwards;
    opacity:0;
}
.Technical-bars .bar .progress-line{
    position:relative;
    border-radius:10px;
    width:100%;
    height:5px;
    background:green;
    animation:animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform : scaleX(0);
    transform-origin:left;
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation : animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line, .html span{
    width:100%;
    
}
.progress-line, .css span{
    width:85%
}.progress-line, .js span{
    width:90%
}
.progress-line, .rjs span{
    width:97%
}
.progress-line, .tcss span{
    width:89%
}
.progress-line, .laravel span{
    width:70%
}
.progress-line, .fp span{
    width:65%
}
.progress-line, .dj span{
    width:60%
}

.progress-line span::after{
    position:absolute;
    padding:1px 8px;
    background-color:red;
    color:#fff;
    font-size: 12px;
    border-radius:3px;
    top:-20px;
    right:-20px;
    animation:showText 0.5s 1.5s linear forwards;
    opacity:0;
}

.progress-line.html span::after{
    content:"100%";
}
.progress-line.css span::after{
    content:"85%";
}
.progress-line.js span::after{
    content:"90%";
}
.progress-line.rjs span::after{
    content:"97%";
}
.progress-line.tcss span::after{
    content:"87%";
}
.progress-line.fp span::after{
    content:"65%";
}
.progress-line.dj span::after{
    content:"60%";
}
.progress-line.laravel span::after{
    content:"70%";
}
.progress-line span::before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border:7px solid transparent;
    border-bottom-width:0px;
    border-right-width:0px;
    border-top-color:green;
    top:-10px;
    right:0;
    animation: showText 0.5 1.5s linear forwards;
    opacity:0;
}

.Radial-bars{
    width:100%;
    display : flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:flex-start; 
}
.Radial-bars .Radial-bar{
    width:50%;
    height:170px;
    margin-bottom:10px;
    position:relative;
}
.Radial-bars .Radial-bar svg{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-90deg);
    width:120px;
    height:160px;
}
.Radial-bars .Radial-bar .progress-bar{
    stroke-width:10;
    stop-color:green;
    fill:transparent;
    stroke-dasharray:502;
    stroke-dashoffset:502;
    stroke-linecap:round;
    animation:animate-bar 1s linear forwards;
}
.path{
    stroke-width:10;
    stroke:#0ef;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap:round;
}
.path-1{
    animation:animate-path1 1s 1s linear forwards;
}
.path-2{
    animation:animate-path2 1s 1s linear forwards;
}
.path-3{
    animation:animate-path3 1s 1s linear forwards;
}
.path-4{
    animation:animate-path4 1s 1s linear forwards;
}
.Radial-bar .percentage{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate (-50%, -59%);
    font-size:17px;
    font-weight:500;
    animation:showText 0.5s 1s linear forwards;
    opacity:0;

}
.Radial-bar .text{
    width:100%;
    position:absolute;
    text-align:center;
    left:50%;
    bottom:-5px;
    transform:translateX(-50px);
    font-size:17px;
    font-weight:200;
    animation:showText 0.5s 1s linear forwards;}
    /*Latest projects*/
    #projects{
        margin-top: -50px;
        display:flex;
        padding-left:10vmax;
    }
.main-text{
    padding-top: 130px;
    margin-top: 200px;

}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 140px;
}
.main-text h2 span{
    color:cyan;
}
.portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}

.row{
    position:relative;
    overflow:hidden;
    border-radius: 8px;
    cursor:pointer;
    margin-left: 10px;
    box-shadow: 0 0 50px cyan;
    
}
.row img{
    width:100%;
    border-radius: 8px;
    display:block;
    transition: tramsform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.1),#0ef);
    position:absolute;
    border-radius: 8px;
    left: 0;
    bottom:0;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 40;
    transition: height 0.5s;
}
    .layer h5{
color:#000;
font-size:20px;
font-weight: 600;
margin-bottom:15px;
    }
    .layer p{
        color: #000;
        font-size: 1rem;
        line-height:1.8;
    }
    .layer i{
        color:#ff004f;
        margin-top: 20px;
        font-size: 20px;
        background: rgb(203, 214, 240);
        width:90PX;
        height:90px;
        justify-content: center;
        align-items: center;
        border-radius: 50%
    ;
    }
    .row:hover img{
        transform:scale(1.1);
    }
    .row:hover .layer{
        height:100%;
    }
    .img-responsive{
        height:100%;
    }

    /*Certificates Sections*/

    .certificates{
        margin-top: 100px;
        display: flex;
    }
    .certi-container{
        width:100%;
        padding:90px;
       
    }
    .certi-container h2{
      
       
        font-size: 60px;
        line-height: 1;
        text-align: center;
        margin-bottom: 140px;
    }
    .certi-container h2 span{
        color:cyan;
    }
    .main-certi{
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .certi-card{
        position:relative;
        height:450px;
        width:400px;
        box-shadow: 0 0 20px blue;
        margin-left: 20px;
        border-radius: 30px;
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 10px;
       
    }
    .certi-card:hover{
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
    }
    .certi-card  img{
        position:absolute;
        width:95%;
        height: 95%;
        border-radius: 20px;
        transition:0.5s;
    }
    .certi-card:hover img{
        transform: scale(1.1);
    }

    /*Contacts*/
    .contact{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        align-items: center;
        gap:3vw;
        padding-left:10vw;
        margin-top:130px;
        padding-right:10vw;
    }
    .textCont-sec{
        width:80vmax;
        display:flex;
        flex-direction:row;
        align-items:space-between;
        margin-top:10vh;
      
    }
    .texts-con{
        
        width:70vw;
        margin-right:10vmax;
        text-align:justify;
    }
   
    .text-contact h2{
font-size: 5vmax;
line-height:1;
text-align:center;


    }
    .text-contact span{
         color:#0ef; 
    } 
    .text-contact h4{
        margin:15px 0;
        color:rgb(228,228,228);
        font-size:20px;
        font-weight:600;
    }
    .text-contact p{
        color:rgb(177,177,177);
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 2rem;
    }
.contact-list{
    margin-bottom:3rem;
}
.contact-list li{
    margin-bottom:10px;
    display:block;
}
.contact-list i{
    display:inline-block;
    color:#0ef;
    font-size:20px;
    font-weight:600;
    transition:all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color:#0ef;
}
.contact-icons i{
    display:inline-flex; 
    justify-content:center;
    align-items:center;
    width:40px; 
    height:40px;
    background:transparent;
    border:2px solid #0ef;
    border-radius: 50%;
    font-size:20px;
    color:#0ef;
    text-decoration: none;
    margin:30px 15px 30px 0; 
    transition: .5s ease;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background:cyan;
    color:#000;
      box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position:relative;

}
.contact-form form input , form textarea{
border:none;
outline:none;
width:90%;
padding:18px; 
background: #a5a5aa;
color:#000;
font-size: 1rem;
font-weight: 600;
margin-bottom:0.5rem;
border-radius: 0.5rem;
}
.contact-form textarea{
    resize:none;
    height:220px;
}
.contact-form form .send{
    display:inline-block;
    padding : 12px 60px;
    background:cyan;
    border-radius: 40px;
    font-size: 18px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity:0;
    animation: slideTop .6s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
       
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.last-text p{
width:100%;
text-align: center;
padding:25px 0;
color:rgb(7,85,91);
font-weight: 300;
margin-top:70px;

}
.top{
    position:fixed;
    bottom:2.1rem;
    right:2.1vmax;

width:8vmax;

}
.top i{
    color:red;
    background:#0ef;
    font-size:20px;
    font-weight: 800;
    padding:10px;
    border-radius: 0.5rem;
   
}

    
.bloba{
    height:40%;
    width:40%;
    background:blueviolet;
    border-radius: 53% 47% 53% 47% / 63% 60% 40% 37% ;
    position:absolute;
    z-index: -50;
    animation: bloba 1s linear infinite alternate-reverse;
    animation-duration: 60s;
    opacity:0.2;
   
}

.blobb{
    height:30dvw;
    width:30dvw;
    background:blue;
    border-radius: 53% 47% 53% 47% / 63% 60% 40% 37% ;
    position:absolute;
    z-index: -50;
    animation: blobb 1s linear infinite alternate;
    animation-duration: 60s;
    opacity:0.2;
    border:4px solid red;
}
.menue{
    display:none;
    margin-right:45%;
    border-radius: 10px;

}

.dropdown{
    opacity: 0;
    transition: 3s;
    display: none;
   
}
.details{
    display:none;
}

/*Animations*/
@keyframes blobCont{
    0%{margin-top: 0; left:0; }
    10%{margin-top: 5dvw; margin-left:5dvw}
    20%{margin-top: 50px; margin-left:10px; border-radius: 36% 64% 87% 13% / 33% 55% 45% 67%  ;}
    15%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    50%{margin-top: 100px; margin-left:200px; border-radius: 36% 64% 49% 51% / 33% 49% 51% 67%  ;}
    70%{margin-top: 200px; margin-left:300px; border-radius: 36% 64% 81% 19% / 33% 49% 51% 67%  ;}
    80%{margin-top: 300px; margin-left:400px; border-radius:34% 53% 39% 50% / 63% 48% 37% 29%  ;}
    100%{margin-top: 400px; margin-left:500px; border-radius: 57% 39% 69% 23% / 68% 14% 39% 23%  ;}
    80%{margin-top: 300px; margin-left:100px; border-radius: 57% 39% 16% 23% / 25% 14% 39% 23%  ;}
    70%{margin-top: 200px; margin-left:600px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    50%{margin-top: 100px; margin-left:350px; border-radius: 57% 39% 16% 23% / 25% 14% 55% 66%   ;}
}
@keyframes bloba {
    0%{margin-top: 0; left:0; border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    5%{ border-radius: 36% 64% 87% 13% / 33% 20% 80% 67%}
    7%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    10%{margin-top: 5px; margin-left:5px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    20%{margin-top: 50px; margin-left:10px; border-radius: 36% 64% 87% 13% / 33% 55% 45% 67%  ;}
    15%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    50%{margin-top: 100px; margin-left:200px; border-radius: 36% 64% 49% 51% / 33% 49% 51% 67%  ;}
    70%{margin-top: 200px; margin-left:300px; border-radius: 36% 64% 81% 19% / 33% 49% 51% 67%  ;}
    80%{margin-top: 300px; margin-left:400px; border-radius:34% 53% 39% 50% / 63% 48% 37% 29%  ;}
    100%{margin-top: 400px; margin-left:500px; border-radius: 57% 39% 69% 23% / 68% 14% 39% 23%  ;}
    80%{margin-top: 300px; margin-left:100px; border-radius: 57% 39% 16% 23% / 25% 14% 39% 23%  ;}
    70%{margin-top: 200px; margin-left:600px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    50%{margin-top: 100px; margin-left:350px; border-radius: 57% 39% 16% 23% / 25% 14% 55% 66%   ;}
}
@keyframes blobb {
    0%{margin-top: 0; margin-left:400px; border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    10%{margin-top: 5px; margin-left:600px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    20%{margin-top: 50px; margin-left:500px; border-radius: 36% 64% 87% 13% / 33% 55% 45% 67%  ;}
    50%{margin-top: 100px; margin-left:600px; border-radius: 36% 64% 49% 51% / 33% 49% 51% 67%  ;}
    70%{margin-top: 200px; margin-left:350px; border-radius: 36% 64% 81% 19% / 33% 49% 51% 67%  ;}
    80%{margin-top: 300px; margin-left:450px; border-radius:34% 53% 39% 50% / 63% 48% 37% 29%  ;}
    100%{margin-top: 400px; margin-left:300px; border-radius: 57% 39% 69% 23% / 68% 14% 39% 23%  ;}
    80%{margin-top: 100px; margin-left:200px; border-radius: 57% 39% 16% 23% / 25% 14% 39% 23%  ;}
    70%{margin-top: 50px; margin-left:240px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    50%{margin-top: 5px; margin-left:340px; border-radius: 57% 39% 16% 23% / 25% 14% 55% 66%  ;}
}
@keyframes animate-path1{
    100%{
        stroke-dashoffset:50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset:185;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset:110;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset:140;
    }
}
@keyframes animate-bar{
  100%{
    stroke-dashoffset:-1;
  }
}
@keyframes showText{
    100%{
        opacity:1;
    }
}
@keyframes animate{
    
    100%{
        transform: scaleX(1);
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0
    }

    100% {
        transform: translateX(0px);
        opacity: 1
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0
    }

    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0
    }

    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100px);
        opacity: 0
    }

    100% {
        transform: translateX(0px);
        opacity: 1
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0
    }

    100% {
        transform: translateX(0px);
        opacity: 1
    }
}

@keyframes move {
    0% {
        margin-top: -1rem;
    }
    5% {
        margin-top: -3rem;
    }
    
    100% {
        margin-top: -1rem;
    }
}

@keyframes moveDown{
    0%{
        opacity:0;
        transform: translateY(-100);
    }
    100%{
        opacity:1;
        transform: translateY(100);
        
    }
}

/*media quries*/
@media only screen and (max-width:800px){
    body{
      overflow-x: hidden;
      
    }
  .navbar{
    display:none;

  }
  .top{
    position:fixed;
    bottom:2.1vmin;
    right:2.1vmax;


}
 
  .dropdown{
    display:none;
    flex-direction: column;
    position:absolute;
    background: rgb(201, 194, 194);
    top:80%;
    text-align:center;
    width:150px;
    justify-content:center;
    border-radius:29px;
    right: 4vmax;
   
}
.dropdown a{
    text-decoration: none;
    color:darkblue;
    margin-top:15px;
    margin-left:0;
    width:100%;
    height:25px;
    font-weight:800;
}
.dropdown a:hover{
    background: cyan;
    color:rgb(4, 4, 17);
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}

  
  .menue{
    display:flex;
    margin-right: 2vmax;
} 

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
   
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

    }
    .home{
        position: relative;
    width: 55vmax;
    justify-content: space-between;
    height:200vmin;
    background: url(./images/bc.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 7vmin 10vmax;
    text-align: justify;
   
    margin-top:10vmin;
    }
    .home-content{
        
        width:55vmax;
        margin-top:50vmin;
        margin-left:-8vmax;
    }
    
   
.home-content h1 {
    font-size:2rem;
    font-weight: 700;
    margin-top:1vmin;
    margin: 2vmin 0;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
}
.active{
   
    animation: moveDown ease forwards;
    display:flex;
   
}

  @keyframes bloba {
    0%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    5%{ border-radius: 36% 64% 87% 13% / 33% 20% 80% 67%}
    7%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    10%{ border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    20%{ border-radius: 36% 64% 87% 13% / 33% 55% 45% 67%  ;}
    15%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    50%{ border-radius: 36% 64% 49% 51% / 33% 49% 51% 67%  ;}
    70%{ border-radius: 36% 64% 81% 19% / 33% 49% 51% 67%  ;}
    80%{ border-radius:34% 53% 39% 50% / 63% 48% 37% 29%  ;}
    100%{ border-radius: 57% 39% 69% 23% / 68% 14% 39% 23%  ;}
    80%{ border-radius: 57% 39% 16% 23% / 25% 14% 39% 23%  ;}
    70%{margin-top: 0px; margin-left:6px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    50%{margin-top: 10px; margin-left:3px; border-radius: 57% 39% 16% 23% / 25% 14% 55% 66%   ;}
}
@keyframes blobb {
    0%{ border-radius: 53% 47% 53% 47% / 63% 60% 40% 37%;}
    10%{margin-top: 5px; margin-left:6px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    20%{margin-top: 10px; margin-left:5px; border-radius: 36% 64% 87% 13% / 33% 55% 45% 67%  ;}
    50%{margin-top: 4px; margin-left:6px; border-radius: 36% 64% 49% 51% / 33% 49% 51% 67%  ;}
    70%{margin-top: 2px; margin-left:10px; border-radius: 36% 64% 81% 19% / 33% 49% 51% 67%  ;}
    80%{margin-top: 4px; margin-left:4px; border-radius:34% 53% 39% 50% / 63% 48% 37% 29%  ;}
    100%{margin-top: 5px; margin-left:3px; border-radius: 57% 39% 69% 23% / 68% 14% 39% 23%  ;}
    80%{margin-top: 10px; margin-left:10px; border-radius: 57% 39% 16% 23% / 25% 14% 39% 23%  ;}
    70%{margin-top: 0px; margin-left:20px; border-radius: 36% 64% 87% 13% / 33% 20% 80% 67% ;}
    50%{margin-top: 5px; margin-left:3px; border-radius: 57% 39% 16% 23% / 25% 14% 55% 66%  ;}
}
.bloba{
    height:40%;
    width:40%;
    background:blueviolet;
    border-radius: 53% 47% 53% 47% / 63% 60% 40% 37% ;
    position:absolute;
    z-index: -50;
    animation: bloba 1s linear infinite alternate-reverse;
    animation-duration: 60s;
    opacity:0.2;
}
.blobb{
    height:40%;
    width:40%;
    background:blue;
    border-radius: 53% 47% 53% 47% / 63% 60% 40% 37% ;
    position:absolute;
    z-index: -50;
    animation: blobb 1s linear infinite alternate;
    animation-duration: 60s;
    opacity:0.2;
}
.my-img{
    position:absolute;
    top:15%;
    left:10%;
 
    }
    .myimg{
        width:80%;
        height:80%;
       
    }
    .myimg:hover {
        height: 80%;
        width: 80%;
        box-shadow: 0 0 5px cyan,
            0 0 25px orange, 0 0 60px yellow,
            0 0 140px red, 0 0 200px blue;
            margin-left:30%;
    }


.home-content{
    margin-top: 55%;

}

    .about-img{
        display:none;
        
    }
    .about{
        display:flex;
        text-align: center;
        justify-content: center;
        width:100%;
        padding-left: 5%;
       margin-top: 30%;
    }
    .about p{
        margin-top: 60px;
       
    }
    .details{
        display:flex;
        align-items: center;
        justify-content: center;
        color:rgb(255, 252, 252);
        background: cyan;
        border-radius: 20px;
        border:4px solid blue;
    }
    html{
        overflow-x:hidden;
    }
.row{
    margin-top:5vh;
}
    .about-p{
        display:none;
    }
    .p-active{
        display:flex;
    }
    .sub-title{
        margin-left:-100px;
        text-align: center;
    }
    .card-text{
        display:none;
    }
    .cardText-active{
        display: flex;  
    }
   
    .boxes{
        margin-left: -100px;
    }
    .heading1{
        
        margin-left:-13px;
        margin-bottom:15px;
    }
    .skills-sec {
        display:flex;
        flex-direction:column;

        
    }
    .heading1{
        
        margin-bottom: 10%;
        
    }
    .text-contact{
        display:flex;
        flex-direction:column;
    }
    .head2{
        margin-top: 15%;
    }
    .certi-card{
        width:40vmax;
    }
   
    .text-contact p{
        text-align:justify;
    }
    .textCont-sec{
        width:80vmax;
        display:flex;
        flex-direction:column;
        align-items:space-between;
        margin-top:10vh;
      
    }
    .texts-con{
        
        width:70vw;
        margin-right:10vmax;
        text-align:justify;
    }
body{
    overflow-x:hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 55vmax;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
}
.contact-form{
    width:40vmax;
    background:4px solid red;
}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
    grid-gap:40px;
    margin:50px;
   text-align:justify;
}

.services-list div{
    background: transparent;
    padding:40px;
    font-size:13px;
    font-weight: 13px;
    border-right:10px;
    border-radius: 20px;
    box-shadow:1px 1px 20px #012290f7,
    1px 1px 40px #0053b8;
    transition : background 0.5s, transform 0.5s;
    cursor:pointer;
}
.services-list div:hover{
transform: translateY(-10px); 

}
.services-list p{
    margin-bottom: 12vmin;
    width:38vmax
}
.services-list div i{
    font-size: 50px;
    margin-bottom:30px;

}
#services{
    color:aliceblue;
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 4vmin;
    
    }
.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin:15px;

}
.services-list div a{
    text-decoration:none;
    color:#000000;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.boxes{
    width:47vmax;
}
.row{
    width:40vmax; 
}
.headings-size{
    width:40vmax; 

    font-size:8vmax;
    margin-left:1vmax;

}



}
